@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@import url('https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css');


/* webfont */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

/* 링크설정 */
a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #1c1c1c;

}

.top_btn {
    /* class="top_btn"과 일치 */
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    width: 50px;
    height: 50px;

    transition: opacity 0.3s;
}

.top_btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.btn_wrap {
    text-align: center;
    margin: 56px 0 100px;
}

#wrap {
    min-width: 1400px;

}

.center {
    width: 1320px;
    margin: 0 auto;

}

.more {
    color: #f8f8ff;
    background-color: #daa520;
    padding: 4px 24px;
    border-radius: 30px;
    display: inline-block;
}

.line {
    width: 30px;
    height: 2px;
    background-color: #daa520;
    display: inline-block;
    margin: 15px 0 60px;
}

#header {
    height: 90px;
    background-color: #1c1c1c;
    position: relative;
}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 17px;
}

.gnb {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.gnb>li {
    margin: 0 30px;

}

.gnb>li>a {
    display: block;
    padding-bottom: 36px;
}

.gnb li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #1C1C1C;
    border-top: 1px solid #f8f8ff;
}

.submenu_inner {
    width: 1320px;
    height: 130px;
    margin: 0 auto;
    padding-top: 30px;
    opacity: 0.8;
    padding-left: 800px;
    display: flex;
    box-sizing: border-box;
}

.submenu_inner li a {
    margin-right: 65px;
    color: #f8f8ff;
    font-size: 20px;
}

.submenu_inner li a:hover {
    color: #daa520;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
#footer {
    height: 450px;
    background-color: #1c1c1c;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    color: #daa520;
    display: flex;
    justify-content: space-between;

}

.footer_right {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.footer_left ul {
    display: flex;
    padding: 52px 0 75px;
}

.footer_left ul li {
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
}

.footer_left p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    padding-bottom: 60px;
}

.footer_left span {
    font-size: 14px;
    font-weight: 500;
    color: #daa52099;

}

.footer_right strong {
    font-size: 36px;
    font-weight: 700;
    padding: 40px 0 40px;
}

.footer_right p {
    font-size: 20px;
    font-weight: 500;

}

.footer_right span {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 18px 0 140px;
}
