#section1 {
    margin-top: 120px;

}

.section1_inner {
    display: flex;
    gap: 30px;
}



.content {
    width: 660px;
    height: 860px;
    position: sticky;
    top: 0;
    background: url(../img/shop/content\ bg.jpg);
    box-sizing: border-box;
    padding: 260px 0 0 220px;

}

.content>h1 {
    color: #f8f8ff;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content span {
    font-size: 32px;
    color: #f8f8ff;
    line-height: 48px;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* click content */
/* .content {
  /* position: relative; */
/* }

.content > h1, .content > span {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.content.show-camp > h1, 
.content.show-camp > span {
  opacity: 0 !important;
}

.content img {
  position: relative;
  z-index: 1;
} */
*/ .sticky {
    width: 660px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.sticky img {}

.sticky h2 {
    /* color: #f8f8ff; */
    font-size: 24px;
    font-weight: 700;
}


.box {
    width: 630px;
    height: 300px;
    display: flex;
    box-sizing: border-box;
    gap: 30px;
    margin-bottom: 30px;
    /* position: relative;
    overflow: hidden;
    transition: transform 0.3s; */
}

.box h2 {
    font-size: 18px;
    font-weight: 600;

}

.box span {
    font-size: 14px;
    font-weight: 600;
    color: #4d4d4d;
}

.box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

}

.box strong {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 70px;
}

.sticky_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* tab */
.iso-box-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

#tab {
    margin-bottom: 100px;

}

.clearfix {
    display: flex;
    justify-content: center;
    padding: 120px 0 60px;
}

.clearfix li a {
    /* 평소 모습 */
    font-size: 18px;
    font-weight: 500;

    margin: 0 20px;
}

.clearfix li a.selected {
    /* 눌렀을때 모습 */

    color: #daa520;

}

.iso-box {
    width: 308px;
    height: 400px;
    margin-right: 22px;
    position: relative;
    opacity: 1;
    /* background-color: rebeccapurple; */
    /* display: block; */
    /* padding-bottom: 50px; */
}

.iso_hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
}

.iso-box:hover .iso_hover {
    opacity: 1;
}

.iso-box p {
    text-align: center;
    padding: 25px 0 20px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;

}

.iso-box strong {
    font-size: 16px;
    font-weight: 600;
}

.gallery-thumb img {
    display: block;
    width: 100%;
}

.see .number {
    /* 사용자가 눌렀을 경우 */
    display: block;
}